<section>
  <div class="jumbotron jumbotron-fluid" [ngStyle]="{'background-image': getImageUrl()}">
    <div class="container">
      <mat-card class="vote-card">
        <div class="content">
          <mat-card-header class="vote-card-header">
            <mat-card-subtitle>{{currentHero.short_description}}</mat-card-subtitle>
            <mat-card-title>{{currentHero.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{currentHero.description}}
            </p>
          </mat-card-content>


          <mat-card-actions class="group-buttons">
            <button mat-button class="vote-button positive-button">
              <i class="material-icons">thumb_up</i>
            </button>
            <button mat-button class="vote-button negative-button">
              <i class="material-icons">thumb_down</i>
            </button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
    <mat-progress-bar mode="determinate" value="{{currentHero.percentage_positive_votes}}">
      <h1>Hola</h1>
    </mat-progress-bar>
  </div>

  <div class="container section">
    <div class="small-section card-information">
      <mat-grid-list cols="15">
        <mat-grid-tile [colspan]="3" class="card-information-title">
          <h1>
            Doreme ipsum <span class="bold-title">Dolor sit amet</span>
          </h1>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="11" class="card-information-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed fringilla nisi. Suspendisse vel nulla non
          ipsum volutpat fermentum et a velit. Nullam nunc massa, ultricies sed purus viverra, congue tristique diam.
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" class="card-information-close">
          X
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div class="small-section">
      <h1 class="title">Super heroes anteriores</h1>
      <mat-grid-list cols="2">
        <mat-grid-tile [colspan]="1" *ngFor="let hero of heroes">
          <mat-card class="card-hero" [ngStyle]="{'background-image': getImageUrl(hero)}">
            <mat-card-header>
              <mat-card-title>{{hero.name}}</mat-card-title>
              <mat-card-subtitle>{{hero.short_description}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{hero.description}}
              </p>
            </mat-card-content>
  
  
            <mat-card-actions>
              <button  mat-stroked-button class="button-more-hero-detail" (click)="goTo(hero.id)">
                Ver detalles
              </button>
            </mat-card-actions>
            <mat-progress-bar mode="determinate" value="{{hero.percentage_positive_votes}}"></mat-progress-bar>
          </mat-card>

        </mat-grid-tile>
      </mat-grid-list>
    </div>

  </div>
</section>