
.jumbotron
    height: 600px !important
    width: 100%
    padding-left: 0px
    padding-rigth: 0px
    position: relative

    .mat-progress-bar
        position: absolute
        bottom: 0
        height: 70px

.section
    display: in

.small-section
    width: 100%
    min-height: 100px
    padding: 1rem
    margin: 1rem
    background-color: white

.title
    font-weight: 400
    font-size: 34px

.card-hero
    width: 92%
    height: 92%
    border-radius: 0px
    padding-top: 50%
    color: white
    .mat-progress-bar
        position: absolute
        bottom: 0
        left: 0
        height: 40px
    .button-more-hero-detail
        border-radius: 0px
        margin: 1rem
        border: 1px solid white
        color: white
    .button-more-hero-detail:hover
        background-color: black
        border: 1px solid white
    .mat-card-title
        font-size: 40px
        font-weight: 400px


.vote-card
    color: white !important
    background-color: black
    padding: 0px
    margin: 0px
    opacity: 0.5
    top: 3rem
    width: 405px
    height: 379.5px
    .vote-card-header
        margin: 0px !important
        .mat-card-subtitle
            color: blue


.group-buttons
    position: absolute
    bottom: 0px
    width: 100%
    margin: 0
    padding: 0
    button
        margin: 0px !important
        padding: 0px !important
        border-radius: 0
    .vote-button
        display: inline
        width: 50%
        height: 100px

    .positive-button
        background-color: green
    .positive-button:hover
        cursor: pointer
        background-color: blue

    .negative-button
        background-color: red
    .negative-button:hover
        cursor: pointer
        background-color: blue

.card-information
    background-color: #ebebeb
    .card-information-title
        text-align: center
        .bold-title
            font-weight: bold
            font-size: 28px
        h1
            margin: 0
