<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/HeroLogo.png" class="d-inline-block align-top" alt="">
    </a>
    <ul class="nav nav-pills navbar-right " id="list-item">
      <li class="nav-item ">
        <a class="nav-link" href="#home">
          Inicio
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#news">
          Como funciona
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#contact">
          Iniciar sesion
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#about">
          <i class="material-icons">search</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>